.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
 
  border: 1px solid mediumblue;
  margin: auto;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: rgb(9, 9, 28);
  color: aliceblue;
  display: grid;
  place-content: center;
}
main {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #dae4f8;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
ul {
  width: 100%;
  list-style-type: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before{
  content:"\2000";
}
.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}
.item:first-child{
  margin: 0;
}
.item input[type="checkbox"]{
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 48px;
  height: 2.5rem;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.item input[type="checkbox"]:checked{
  text-decoration: underline;
}

.item >label{
  font-size: 0.75rem;
  flex-grow: 1;
}
.item svg{
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}
.item svg:focus,
.item svg:hover{
  color:red;
  outline: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.addform{
  width: 95%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}
.addform label{
  position: absolute;
  left: -99999px;
}
.addform input[type="text"]{
  flex-grow:1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}
button{
  height: 48px;
  max-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}
button:focus,
button:hover{
color: white;
background-color: limegreen;
outline: none;
}


.searchForm{
  width: 95%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 	0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;

}

.searchForm label{
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"]{
  flex-grow:1;
  max-width: calc(100%);
  min-height: 28px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none
}
